html, body {
	width: 100%;
	overflow: hidden;
	background: #f8f8f8;
}

div {
	padding: 1.25em;
	margin: 1.25em;
	transition: 250ms;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: black;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: rgb(218,175,0);
	transition: 250ms;
}

a:hover {
	color: rgb(255,175,0);
}
